/* палітра */
/* основновний колір шрифта #2E2F42*/
/* другорядний колір шрифта #434455*/
/* колір фону #FFFFFF*/
/* другорядний колір фону #2E2F42*/
/* альтернативний колір фону #F4F4FD*/
/* білий  #FFFFFF*/
/* колір кнопок  #4D5AE5*/
/*  */
body {
    background-color: #FFFFFF;
    color: #434455;
}










/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
 */